/* colors */
$bg-base:#F7F7F7;
$border:rgba(219, 219, 219, .5);
$primary:#333A4A;
$active:#FFE14B;
$active-stroke:#EFCC1C;
$active-shadow:#deb902;
$sb-icon:rgba(255,255,255,.7); //sidebar icons
$sb-body:#F5F6F7;
$shadow:rgba(51, 58, 74, 0.1);
$cardbox: white;
$green:#26B365;
$sub:#4A4A4A;
$sub-2:#7C7C7C;
$sub-3:#9B9B9B;
$sub-4:#fdfdfd;
$sub-5:#eff1ee;
$blue:#0069FF;
$radio:#F5F6F7;
$field-border:#D6D6D6;
$checkbox:#836F0E;
$light-green:#F9FFFC;
$green-border:#E0F1E6;
$light-yellow:#FFFEEE;
$red:#bc2824;

//

$container:967px;