@import 'tools/rem';
/* import only the necessary Bootstrap files */
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

/* -------begin customization-------- */
$font-family-base:'SF Pro Display';
$navbar-padding-y:rem(14);
$navbar-padding-x:rem(0);
$navbar-nav-link-padding-x:rem(21);
$border-color:rgba($white,0.2);
$body-bg:#FAFBFD;

$grid-breakpoints:(
  xl:1440px
);

$theme-colors: (
  light-blue: #36AFED,
  light-gray: #9B9B9B,
  gray-100:$gray-100,
  gray-200:$gray-200,
  gray-300:$gray-300,
  gray-400:$gray-400,
  gray-500:$gray-500,
  gray-600:$gray-600,
  gray-700:$gray-700,
  gray-800:$gray-800,
  gray-900:$gray-900,
  sky:#00A8EA,
  lime:#B8E986,
  guideline:#50E3C2
);

$sizes: (
  20: 20%
);

$spacers:(
  45: rem(30),
);

.dropdown.dropdown-dots .dropdown-toggle {
  display: flex;
}

.dropdown.dropdown-dots .dropdown-toggle::after {
  content: "\e915";
  display: inline-block;
  margin-left: 0.5em;
  vertical-align: 0.255em;
  border: none;
  font-family: 'icomoon';
  font-size: 4px;
  margin-left: rem(10);
}

.navbar-nav .dropdown-toggle::after{
  content: "\f078";
  display: inline-block;
  margin-left: 0.5em;
  vertical-align: 0.255em;
  border: none;
  font-family: 'fontawesome';
  font-size: rem(9);
  vertical-align: text-top;
}
.navbar-brand{
  padding-right: rem(21);
}

.dropdown-dots .btn:focus {
  outline: none !important;
  box-shadow: none;
}

.rounded-square{
  width: 30px;
  height: 30px;
}

img{
  max-width: 100%;
  height: auto;
}

h2{
  font-size: rem(25);
}

$btn-border-radius:rem(5);
$btn-padding-x:rem(12);
/* -------end customization-------- */
/* finally, import Bootstrap to set the changes! */
@import "../../node_modules/bootstrap/scss/bootstrap";