@import 'tools/rem';
@import "bootsrap_custom";
@import 'partials/fonts';
@import 'partials/mixins';
@import 'partials/mainbar';
@import 'partials/search';
@import 'partials/stats';

html{
  font-size: 81.3%;
  line-height: 1.4;
}
html, body{
  height: 100%;
}
