.adbox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $light-yellow;
  padding: $ml $m*2;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
  border:1px solid $border;
  &__text{
    @include rem(font-size, 20px);
    line-height: 1.5;
    color:$primary;
    width: 164px;
    flex-shrink: 0;
    text-align: left;
    .badge{
      @include rem(font-size,11px);
      @include rem(padding,3px 10px);
      font-weight: normal;
    }
  }
  &__img{
    max-width: 310px;
  }
}