.btn{
  cursor:pointer;
  display: inline-block;
  @include rem(padding,11px 20px);
  @include rem(min-width,145px);
  text-align: center;
  border-radius: 5px;
  background-color: white;
  border:1px solid $border;
  box-sizing: border-box;
  @include trans;
  color:$sub-2;
  &--icon{
    @include rem(min-width,93px);
    @include rem(font-size,15px);
    height: 40px;
  }
  &--shadow{
    @extend .shadow--bottom;
    border:none;
  }
  &:hover{
    background-color: $active;
    //box-shadow: 0px 2px 2px 0px $active-shadow;
    color:black;

  }
  &--link{
    border:1px solid $border;
    background: white;
    border-radius: 5px;
    color:black;
    &:hover{
      background-color: $active;
      border-color:$active-stroke;
      box-shadow: none;
    }
  }
  &--primary {
    background-color: $blue;
    color: white;
    &:hover{
      background-color: darken($blue,5);
      color:white;
    }
  }
  &--secondary{
    background-color: $active;
    border:1px solid $active-stroke;
    color:black;
    &:hover{
      background-color: darken($active,15);
      box-shadow: none;
    }
  }
  &--default{
    background-color: $radio;
    color:black;
  }
  &--no-bg{
    background:none;
    border:none;
    &:hover{
      background:none;
      box-shadow: none;
      color:black;
    }
  }
  &--l{
    @include rem(padding,15px 20px);
    @include rem(min-width,154px);
    @include rem(font-size,15px);
  }
  &--fullwidth{
    display: block;
    width: 100%;
  }
}

// button group - lines in a row, options: no margins, with margins(default)
.btn-group{
  display:flex;
  &--full{
    justify-content: space-between;
  }
  &>*:not(:last-child){
    margin-right: 10px;
  }
  &--align-right{
    justify-content: flex-end;
    & > *{
      margin-right:0;
      margin-left:10px;
    }
  }
}

.btn-switch{
  display: flex;
  .btn{
    border-radius: 5px;
    margin: 0 !important;
    background-color: white;
    flex-basis: 0;
    flex: 1 1 0;
    color:black;
    border:1px solid $border;
    box-shadow: none;
    @include rem(padding,8px 15px);

    &:hover{
      box-shadow: none;
    }
    &:not(:last-child){
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    &:not(:first-child){
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
    &--active, &:hover{
      background-color: $active;
      border-color:$active-stroke;
      box-shadow: none;
      color:$checkbox;
    }
  }

}

.pin-button{
  padding:$ms $m;
  line-height: 25px;
  height: 25px;
  background-color: $blue;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  i{
    font-size: 20px;
  }
}
.status-button{
  padding:$ms $m;
  line-height: 25px;
  height: 25px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @extend .shadow--bottom;
}

.switcher{
  background-color: $radio;
  padding:5px;
  border-radius: 13px;
  width: 40px;
  height: 15px;
  position: relative;
  cursor: pointer;
  &__mask{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: $sub;
    position: absolute;
    left:5px;
    top:5px;
    @include trans(all, 0.2);
  }
  input{
    display: none;
    &:checked ~ .switcher__mask{
      left:30px;
    }
  }

}