.profile-img{
  width:35px;
  height: 35px;
  cursor: pointer;
  img{
    border-radius: 50%;
    width: 100%;
    height: auto;
    border:2px solid transparent;
    box-sizing: border-box;
  }

  &--active{
    position: relative;
    img{
      border-color:$blue;
    }
    &:before{
      position: absolute;
      top:3px;
      right: -3px;
      content: "";
      display: block;
      width: 5px;
      height:5px;
      border-radius: 50%;
      border:2px solid white;
      background-color: blue;

    }

  }
  &--main{
    width: 100px;
    height:100px;
  }
  &--small{
    width: 29px;
    height:29px;
    &:before{
      top:0;
      right: -5px;
    }
  }
  position: relative;

  .profile-dd{
    position: absolute;
    width: 230px;
    right:-22px;
    z-index: -99;
    top:60px;
    @include trans(all);
    opacity: 0;

    //z-index: 99;
    //opacity: 1;
    &--active{
      z-index: 99;
      opacity: 1;
    }
    &:before{
      content:"";
      display: block;
      position: absolute;
      width: 40px;
      height: 40px;
      background-color: white;
      transform: rotate(45deg);
      top:-10px;
      right: 20px;
      @extend .shadow--bottom;
      z-index: -1;
    }
  }
}

.profile-summery{
  text-align: center;
  padding-bottom:$m;
  .profile-img{
    margin-left: auto;
    margin-right: auto;
    margin-bottom:-10px;
  }
  &__name{
    margin-top:15px;
    font-weight: normal;
    line-height: 1.3;
  }
  &__experience{
    color:$sub-3;
  }
  &__bullets{
    display: flex;
    justify-content: center;
    &-item{
      width: 35px;
      height: 35px;
      line-height: 35px;
      border:1px solid $border;
      border-radius: 50%;
      text-align: center;
      &:not(:last-child){
        margin-right: 5px;
      }
      .fa-check{
        color:$green;
      }
      .fa-phone{
        color:$green;
      }
    }
  }
  .badge{
    position: relative;
  }
}
.profile-details{
  &__stats{
    display: flex;
    padding:15px 0;
    border-bottom:1px solid $border;
    &>div{
      text-align: center;
      width: 50%;
      @include rem(padding-top,14px);
      @include rem(padding-bottom,14px);
      &:not(:last-child){
        border-right: 1px solid $border;
      }
      div{
        color:$sub-3;
        font-size: 12px;
      }
    }
  }
  &__deals{
    &-item{
      display: flex;
      padding-top:$m;
      &:not(:last-child){
        border-bottom:1px solid $border;
        padding-bottom:$m;
      }

    }
    &-icon{
      width: 40px;
    }
    &-quantity{
      margin-left:auto;
    }
  }
}

.status-button{
  .switcher{
    background-color: lighten($red,45);
    .switcher__mask{
      background-color: $red;
    }
    &--active{
      background-color: lighten($green,45);
      .switcher__mask{
        background-color: $green;
      }
    }
  }
}