extends layouts/layout.pug

block title
    | Okyol

block mainbar
    include blocks/mainbar.pug
block fixed-sidebar
    include blocks/profile-card.pug
block main-body
    include blocks/tab-box.pug
    //include blocks/search.pug
    include blocks/card-short.pug
    include blocks/card-short.pug
    include blocks/ad.pug
    include blocks/card-short.pug
    include blocks/card-short.pug


block sidebar-second
    //include blocks/profile-card.pug
