include mainbarnav.pug
.container-fluid.d-flex.py-5
    .h2.text-white.font-weight-bold.mb-0.mr-auto Driver Performance dashboard
    .dropdown.dropdown-dots.mr-1
        button#dropdownMenuOffset.btn.btn-light-blue.dropdown-toggle.align-items-center(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | 7 days
        .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuOffset')
            a.dropdown-item(href='#') Action
            a.dropdown-item(href='#') Another action
            a.dropdown-item(href='#') Something else here