.container-fluid.mb-5.mt-5
    .row.d-flex.align-items-stretch.mb-5
        .col-4
            .rounded.pt-4.pr-4.pl-4.shadow-sm.bg-white.h-100.d-flex.flex-column
                .d-flex.align-items-center.mb-3
                    .flex-grow-1 Most Travelled
                    .dropdown.dropdown-dots
                        button#dropdownMenuOffset.btn.p-0.text-black-50.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuOffset')
                            a.dropdown-item(href='#') Action
                            a.dropdown-item(href='#') Another action
                            a.dropdown-item(href='#') Something else here
                .table-responsive
                    table.table.table-borderless
                        thead.border-bottom.border-gray-300
                            tr.d-flex
                                th.w-20.pl-0.pb-1 Name
                                th.w-20.text-right.pl-0.pb-1 Times late
                                th.w-20.pl-0.flex-grow-1.pb-1.pr-0.text-right Late%
                                th.w-20.text-right.pl-0.pb-1 Times late
                                th.w-20.pl-0.flex-grow-1.pb-1.pr-0.text-right Late%
                        tbody
                            tr.d-flex
                                td.w-20.pl-0.pb-1 John S.
                                td.w-20.pl-0.pb-1.text-right 54
                                td.w-20.pl-0.pb-1.text-right 54
                                td.w-20.pl-0.pb-1.text-right 54
                                td.w-20.pl-0.pb-1.pr-0.flex-grow-1.text-right 56.25%
                            tr.d-flex
                                td.w-20.pl-0.pb-1 Steve J.
                                td.w-20.pl-0.pb-1.text-right 54
                                td.w-20.pl-0.pb-1.text-right 54
                                td.w-20.pl-0.pb-1.text-right 54
                                td.w-20.pl-0.pb-1.pr-0.flex-grow-1.text-right 6.25%
                            tr.d-flex
                                td.w-20.pl-0.pb-1 Jony I.
                                td.w-20.pl-0.pb-1.text-right 54
                                td.w-20.pl-0.pb-1.text-right 54
                                td.w-20.pl-0.pb-1.text-right 54
                                td.w-20.pl-0.pb-1.pr-0.flex-grow-1.text-right 5.25%
                            tr.d-flex
                                td.w-20.pl-0.pb-1 Kennedy G.
                                td.w-20.pl-0.pb-1.text-right 54
                                td.w-20.pl-0.pb-1.text-right 54
                                td.w-20.pl-0.pb-1.text-right 54
                                td.w-20.pl-0.pb-1.pr-0.flex-grow-1.text-right 12.25%
        .col-8
            .rounded.pt-4.pr-4.pl-4.shadow-sm.bg-white.h-100.d-flex.flex-column
                .d-flex.align-items-center.mb-3
                    .flex-grow-1 Top Delivery Laters
                    .dropdown.dropdown-dots
                        button#dropdownMenuOffset.btn.p-0.text-black-50.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuOffset')
                            a.dropdown-item(href='#') Action
                            a.dropdown-item(href='#') Another action
                            a.dropdown-item(href='#') Something else here
                .row
                    .col-4.border-right.border-gray-300
                        .table-responsive
                            table.table.table-borderless
                                thead
                                    tr.d-flex
                                        th.w-25.pl-0.pb-1 Name
                                        th.w-25.text-right.pl-0.pb-1 Times late
                                        th.pl-0.flex-grow-1.pb-1.pr-0.text-right Late%
                                tbody
                                    tr.d-flex
                                        td.w-25.pl-0.pb-1 John S.
                                        td.w-25.pl-0.pb-1.text-right 54
                                        td.pl-0.pb-1.pr-0.flex-grow-1.text-right 56.25%
                                    tr.d-flex
                                        td.w-25.pl-0.pb-1 Steve J.
                                        td.w-25.pl-0.pb-1.text-right 54
                                        td.pl-0.pb-1.pr-0.flex-grow-1.text-right 6.25%
                                    tr.d-flex
                                        td.w-25.pl-0.pb-1 Jony I.
                                        td.w-25.pl-0.pb-1.text-right 54
                                        td.pl-0.pb-1.pr-0.flex-grow-1.text-right 5.25%
                                    tr.d-flex
                                        td.w-25.pl-0.pb-1 Kennedy G.
                                        td.w-25.pl-0.pb-1.text-right 54
                                        td.pl-0.pb-1.pr-0.flex-grow-1.text-right 12.25%
                    .col-8.d-flex
                        .row.flex-grow-1
                            .col-4
                                .table-responsive.mt-2
                                    table.table.table-borderless
                                        tbody
                                            tr.d-flex
                                                td.pl-0.pb-1
                                                    .fas.fa-circle.text-guideline
                                                td.pb-1.flex-grow-1 Times late
                                            tr.d-flex
                                                td.pb-1.pl-0
                                                    .fas.fa-circle.text-danger
                                                td.pb-1.flex-grow-1 Late
                            .col-8.d-flex.align-items-center.justify-content-center
                                | place for a graph

    .row.d-flex.align-items-stretch.mb-5
        .col-8
            .rounded.pt-4.pr-4.pl-4.shadow-sm.bg-white.h-100.d-flex.flex-column
                .d-flex.align-items-center.mb-3
                    .flex-grow-1 Top Loading Laters
                    .dropdown.dropdown-dots
                        button#dropdownMenuOffset.btn.p-0.text-black-50.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuOffset')
                            a.dropdown-item(href='#') Action
                            a.dropdown-item(href='#') Another action
                            a.dropdown-item(href='#') Something else here
                .row
                    .col-5.border-right.border-gray-300
                        .table-responsive
                            table.table.table-borderless
                                thead
                                    tr.d-flex
                                        th.w-25.pl-0.pb-1 Name
                                        th.w-25.text-right.pl-0.pb-1 Times late
                                        th.pl-0.flex-grow-1.pb-1.pr-0.text-right Late%
                                tbody
                                    tr.d-flex
                                        td.w-25.pl-0.pb-1 John S.
                                        td.w-25.pl-0.pb-1.text-right 54
                                        td.pl-0.pb-1.pr-0.flex-grow-1.text-right 56.25%
                                    tr.d-flex
                                        td.w-25.pl-0.pb-1 Steve J.
                                        td.w-25.pl-0.pb-1.text-right 54
                                        td.pl-0.pb-1.pr-0.flex-grow-1.text-right 6.25%
                                    tr.d-flex
                                        td.w-25.pl-0.pb-1 Jony I.
                                        td.w-25.pl-0.pb-1.text-right 54
                                        td.pl-0.pb-1.pr-0.flex-grow-1.text-right 5.25%
                                    tr.d-flex
                                        td.w-25.pl-0.pb-1 Kennedy G.
                                        td.w-25.pl-0.pb-1.text-right 54
                                        td.pl-0.pb-1.pr-0.flex-grow-1.text-right 12.25%
                    .col-7.d-flex
                        .row.flex-grow-1
                            .col-4
                                .table-responsive.mt-2
                                    table.table.table-borderless
                                        tbody
                                            tr.d-flex
                                                td.pl-0.pb-1
                                                    .fas.fa-circle.text-guideline
                                                td.pb-1.flex-grow-1 Times late
                                                td.pb-1.pr-0.font-weight-bold 54
                                            tr.d-flex
                                                td.pb-1.pl-0
                                                    .fas.fa-circle.text-danger
                                                td.pb-1.flex-grow-1 Late
                                                td.pb-1.pr-0.font-weight-bold 43
                            .col-8.d-flex.align-items-center.justify-content-center
                                | place for a graph
        .col-4
            .rounded.pt-4.pr-4.pl-4.shadow-sm.bg-white.h-100.d-flex.flex-column
                .d-flex.align-items-center.mb-3
                    .flex-grow-1 Most Travelled
                    .dropdown.dropdown-dots
                        button#dropdownMenuOffset.btn.p-0.text-black-50.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuOffset')
                            a.dropdown-item(href='#') Action
                            a.dropdown-item(href='#') Another action
                            a.dropdown-item(href='#') Something else here
                .row
                    .col-5.border-right.border-gray-300
                        .table-responsive
                            table.table.table-borderless
                                thead
                                    tr.d-flex
                                        th.pl-0.pb-1.flex-grow-1 Name
                                        th.pl-0.pb-1.pr-0 Miles
                                tbody
                                    tr.d-flex
                                        td.pl-0.pb-1.flex-grow-1 John S.
                                        td.pl-0.pb-1.pr-0.font-weight-bold 1054
                                    tr.d-flex
                                        td.pl-0.pb-1.flex-grow-1 Steve J.
                                        td.pl-0.pb-1.pr-0.font-weight-bold 43
                                    tr.d-flex
                                        td.pl-0.pb-1.flex-grow-1 Jony I.
                                        td.pl-0.pb-1.pr-0.font-weight-bold 92
                                    tr.d-flex
                                        td.pl-0.pb-1.flex-grow-1 Kennedy G.
                                        td.pl-0.pb-1.pr-0.font-weight-bold 92
                    .col-7.d-flex.align-items-center.justify-content-center
                        | place for a graph
    .row.d-flex.align-items-stretch
        .col-6
            .rounded.pt-4.pr-4.pl-4.shadow-sm.bg-white.h-100.d-flex.flex-column
                .d-flex.align-items-center.mb-3
                    .flex-grow-1 Most Delivered Orders
                    .dropdown.dropdown-dots
                        button#dropdownMenuOffset.btn.p-0.text-black-50.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuOffset')
                            a.dropdown-item(href='#') Action
                            a.dropdown-item(href='#') Another action
                            a.dropdown-item(href='#') Something else here
                .row
                    .col-5.border-right.border-gray-300
                        .table-responsive
                            table.table.table-borderless
                                thead
                                    tr.d-flex
                                        th.pl-0.pb-1.flex-grow-1 Name
                                        th.pl-0.pb-1.pr-0 Delivery
                                tbody
                                    tr.d-flex
                                        td.pl-0.pb-1.flex-grow-1 John S.
                                        td.pl-0.pb-1.pr-0.font-weight-bold 1054
                                    tr.d-flex
                                        td.pl-0.pb-1.flex-grow-1 Steve J.
                                        td.pl-0.pb-1.pr-0.font-weight-bold 43
                                    tr.d-flex
                                        td.pl-0.pb-1.flex-grow-1 Jony I.
                                        td.pl-0.pb-1.pr-0.font-weight-bold 92
                                    tr.d-flex
                                        td.pl-0.pb-1.flex-grow-1 Kennedy G.
                                        td.pl-0.pb-1.pr-0.font-weight-bold 92
                    .col-7.d-flex.align-items-center.justify-content-center
                        | place for a graph
        .col-6
            .rounded.pt-4.pr-4.pl-4.shadow-sm.bg-white.h-100.d-flex.flex-column
                .d-flex.align-items-center.mb-3
                    .flex-grow-1 Individual Performance
                    .dropdown.dropdown-dots
                        button#dropdownMenuOffset.btn.p-0.text-black-50.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuOffset')
                            a.dropdown-item(href='#') Action
                            a.dropdown-item(href='#') Another action
                            a.dropdown-item(href='#') Something else here
                .row
                    .col-5.border-right.border-gray-300
                        .table-responsive
                            table.table.table-borderless
                                tbody
                                    tr.d-flex
                                        td.w-25.pl-0.pb-1 Deliveries
                                        th.pl-0.pb-1.pr-0.flex-grow-1.text-right 27
                                    tr.d-flex
                                        td.w-25.pl-0.pb-1 Miles Traveled
                                        th.pl-0.pb-1.pr-0.flex-grow-1.text-right 13800
                                    tr.d-flex
                                        td.w-25.pl-0.pb-1 Hours driving
                                        th.pl-0.pb-1.pr-0.flex-grow-1.text-right 281.1
                                    tr.d-flex
                                        td.w-25.pl-0.pb-1 Delivery Wgt
                                        th.pl-0.pb-1.pr-0.flex-grow-1.text-right 26750
                                    tr.d-flex
                                        td.w-25.pl-0.pb-1 Delivery Pcs
                                        th.pl-0.pb-1.pr-0.flex-grow-1.text-right 800
                    .col-7.d-flex
                        .row.flex-grow-1
                            .col-5
                                form(action='#').search-container.mb-3.mt-n5
                                        input.form-control(type='text', placeholder='John Smith', aria-label='search', aria-describedby='button-addon1')
                                        button#button-addon1.btn(type='submit')
                                            i.fa.fa-search.text-black-50
                                h1.font-weight-bold.mb-0 59%
                                .text-black-50 On time
                                .table-responsive.mt-2
                                    table.table.table-borderless
                                        tbody
                                            tr.d-flex
                                                td.pl-0.pb-1
                                                    .fas.fa-circle.text-guideline
                                                td.pb-1.flex-grow-1 On time
                                                td.pb-1.pr-0.font-weight-bold 54
                                            tr.d-flex
                                                td.pb-1.pl-0
                                                    .far.fa-circle.text-danger
                                                td.pb-1.flex-grow-1.text-black-50 Late
                                                td.pb-1.pr-0.font-weight-bold.text-black-50 43
                            .col-7.d-flex.align-items-center.justify-content-center
                                | place for a graph