.container-fluid.mt-n5.mb-5
    .row
        .col
            .rounded.p-4.shadow-sm.bg-white
                .text-light-gray.mb-4 Miles Travelled
                h1.text-success.font-weight-bold 49675
                .mt-2
                    span.text-success.fas.fa-caret-up.mr-2
                    span.text-light-gray 1200 vs previous 7 days
        .col
            .rounded.p-4.shadow-sm.bg-white
                .text-light-gray.mb-4 Miles Travelled
                h1.text-danger.font-weight-bold 49675
                .mt-2
                    span.text-danger.fas.fa-caret-down.mr-2
                    span.text-light-gray 1200 vs previous 7 days
        .col
            .rounded.p-4.shadow-sm.bg-white
                .text-light-gray.mb-4 Miles Travelled
                h1.text-success.font-weight-bold 49675
                .mt-2
                    span.text-success.fas.fa-caret-up.mr-2
                    span.text-light-gray 1200 vs previous 7 days
        .col
            .rounded.p-4.shadow-sm.bg-white
                .text-light-gray.mb-4 Miles Travelled
                h1.text-danger.font-weight-bold 49675
                .mt-2
                    span.text-danger.fas.fa-caret-down.mr-2
                    span.text-light-gray 1200 vs previous 7 days
        .col
            .rounded.p-4.shadow-sm.bg-white
                .text-light-gray.mb-4 Miles Travelled
                h1.text-danger.font-weight-bold 49675
                .mt-2
                    span.text-danger.fas.fa-caret-down.mr-2
                    span.text-light-gray 1200 vs previous 7 days